* {}

#container {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    border: 1px solid blue;
}

.col {
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;
}

#cabecera {
    background-color: rgb(0, 255, 21);
    text-align: center;
    color: white;
}

#navbar {
    background-color: grey;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar a {
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 2px;
}

#contenido1 {
    background-color: red;
    min-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

#contenido2 {
    min-height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

.img-responsive,
.img-responsive-b {
    margin: 10px;
}

#pie {
    background-color: black;
    min-height: 100px;
}

@media only screen and (max-width: 480px) {
    .md-4 {
        width: 100%;
    }
    .md-5 {
        text-align: center;
        width: 100%;
    }
    .sm-0 {
        display: none;
    }
    .sm-1 {
        display: block;
    }
    .img-responsive {
        width: 70%;
    }
}

@media only screen and (min-width: 481px) {
    .md-5,
    .md-4 {
        width: 100%;
    }
    .sm-0,
    .md-0 {
        display: none;
    }
    .m2 {
        display: block;
    }
    .img-responsive {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .lg-4,
    .lg-1 {
        width: 100%;
    }
    .lg-2 {
        width: 30%;
        display: inline-block;
    }
    .lg-3 {
        width: 69%;
    }
    .md-3 {
        margin-left: 700px;
    }
    .img-responsive {
        width: 70%;
    }
    .img-responsive-b {
        width: 80%;
    }
}